Source: live-config-semplice
Section: misc
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4
Homepage: http://semplice-linux.org
Vcs-Browser: https://github.com/semplice/live-config-semplice
Vcs-Git: https://github.com/semplice/live-config-semplice.git

Package: live-config-semplice
Architecture: all
Depends: ${misc:Depends}, live-config, live-config-linstaller, zramcfg
Description: Additional Configuration Scripts for Debian Live (semplice)
 live-config contains the scripts needed to perform late-userspace actions
 on Debian Live systems.
 .
 This package contains the additional semplice scripts.
